.logo {
  text-decoration: none;
  color: var(--text-color);
  font-size: xx-large;
  font-weight: bold;
}

.nav-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.nav-actions {
  display: flex;
  justify-content: space-between;
  //   gap: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
  color: var(--text-color);
}
.nav-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.nav-links a {
  font-size: large;
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  transition: border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}

.down-arrow {
  display: flex;
  gap: 4px;
  text-align: center;
}
